### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# identify the number of records for all schools
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [33]:
# make a copy of the data - prevent corrupting the orignal
converted_school_data = school_data_complete.copy()

In [31]:
# count the number of schools
schools = converted_school_data["school_name"].unique()
print(schools)
total_schools = len(schools)
print(total_schools)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']
15

In [5]:
type_school = converted_school_data["type"].unique()
type_school

array(['District', 'Charter'], dtype=object)

In [6]:
# count the total number of students
total_students = converted_school_data["Student ID"].count()
total_students

39170

In [7]:
# check the data type for the budget data
converted_school_data["budget"].dtypes

dtype('int64')

In [8]:
# converted_school_data["budget"].dtypes

In [9]:
# check to see if the budget for each school is unique == same length as number of schools
budget_unique = converted_school_data["budget"].unique()
len(budget_unique)

15

In [10]:
# check value of unique budget amounts
budget_unique

array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916,
       1043130], dtype=int64)

In [11]:
# find the total budget of all schools by summing the each "unique" school budget
total_budget = budget_unique.sum()
total_budget

24649428

In [12]:
# convert the total budget to a currency format string
total_budget_currency = '${:,.2f}'.format(total_budget)
total_budget_currency

'$24,649,428.00'

In [13]:
# find the average math score by using the .mean method
avg_math_score = converted_school_data["math_score"].mean()
avg_math_score

78.98537145774827

In [14]:
# find the average reading score by using the .mean method
avg_reading_score = converted_school_data["reading_score"].mean()
avg_reading_score

81.87784018381414

In [15]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
pass_rate = (avg_math_score + avg_reading_score) / 2
pass_rate

80.43160582078121

In [37]:
# Calculate the percentage of students with a passing math score (70 or greater)
# find the number of students that scored 70 or greater
math_pass = converted_school_data.loc[converted_school_data["math_score"] >= 70, ["math_score"]]
math_pass_count = math_pass["math_score"].count()
math_pass_count

# calculate the percentage passing math: (number of passing students / number of total students) * 100

math_pass_percent = (math_pass_count / total_students) * 100

math_pass_percent

74.9808526933878

In [29]:
# Calculate the percentage of students with a passing reading score (70 or greater)
# find the number of students that scored 70 or greater
read_pass = converted_school_data.loc[converted_school_data["reading_score"] >= 70] #, ["reading_score"]]
read_pass_count = read_pass["reading_score"].count()
read_pass_count

# calculate the percentage passing math: (number of passing students / number of total students) * 100

read_pass_percent = (read_pass_count / total_students) * 100

read_pass_percent

85.80546336482001

In [18]:
# pass a dictionary into a pandas data frame and change key (title) names to remove underscores for table display but did not for example

# dictionary for district summary - keys (strings) will be the column titles
district_summary = {
    "Total School": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget_currency],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [math_pass_percent],
    "% Passing Reading": [read_pass_percent],
    "% Overall Passing Rate": [pass_rate]
}
# create summary data frame
district_df = pd.DataFrame(district_summary, columns=["Total School", "Total Students", "Total Budget", 
                                                  "Average Math Score", "Average Reading Score", "% Passing Math", 
                                                  "% Passing Reading", "% Overall Passing Rate"])
# output the summary data frame
district_df

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

## Next section for school based statistics

In [19]:
# Count how many students per school have occured within each state
school_counts = converted_school_data["school_name"].value_counts()
school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [20]:
# Using GroupBy in order to separate the data into fields according to "school_name" values
grouped_schools_gby = converted_school_data.groupby(['school_name', 'type'])

# In order to be visualized, a data function must be used...
grouped_schools_gby.count().head(20)

,,Student ID,student_name,gender,grade,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,District,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,Charter,427,427,427,427,427,427,427,427,427
Huang High School,District,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,District,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,Charter,962,962,962,962,962,962,962,962,962
Rodriguez High School,District,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,Charter,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,Charter,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,Charter,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,Charter,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [38]:
grouped_schools_only_gby = converted_school_data.groupby('school_name').mean()
grouped_schools_only_gby

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [21]:
# # Using GroupBy in order to separate the data into fields according to "school_name" values
# grouped_schools_gby = converted_school_data.groupby(['school_name'])

# # In order to be visualized, a data function must be used...
# grouped_schools_gby.count().head(20)

In [28]:
grouped_schools_comparison = grouped_schools_gby[["reading_score", "math_score", "budget"]].mean()
grouped_schools_comparison

                                reading_score  math_score     budget
school_name           type
Bailey High School    District      81.033963   77.048432  3124928.0
Cabrera High School   Charter       83.975780   83.061895  1081356.0
Figueroa High School  District      81.158020   76.711767  1884411.0
Ford High School      District      80.746258   77.102592  1763916.0
Griffin High School   Charter       83.816757   83.351499   917500.0
Hernandez High School District      80.934412   77.289752  3022020.0
Holden High School    Charter       83.814988   83.803279   248087.0
Huang High School     District      81.182722   76.629414  1910635.0
Johnson High School   District      80.966394   77.072464  3094650.0
Pena High School      Charter       84.044699   83.839917   585858.0
Rodriguez High School District      80.744686   76.842711  2547363.0
Shelton High School   Charter       83.725724   83.359455  1056600.0
Thomas High School    Charter       83.848930   83.418349  1043130.0
Wilson High School    Charter       83.989488   83.274201  1319574.0
Wright High School    Charter       83.955000   83.682222  1049400.0

In [24]:
# school budget per pupil
budget_per_pupil = grouped_schools_comparison["budget"] / grouped_schools_gby["Student ID"].count()
budget_per_pupil

school_name            type
Bailey High School     District    628.0
Cabrera High School    Charter     582.0
Figueroa High School   District    639.0
Ford High School       District    644.0
Griffin High School    Charter     625.0
Hernandez High School  District    652.0
Holden High School     Charter     581.0
Huang High School      District    655.0
Johnson High School    District    650.0
Pena High School       Charter     609.0
Rodriguez High School  District    637.0
Shelton High School    Charter     600.0
Thomas High School     Charter     638.0
Wilson High School     Charter     578.0
Wright High School     Charter     583.0
dtype: float64

In [25]:
# Since "reading_score" is a number, it can be summed up per school
schoolAvg_reading_score = grouped_schools_gby["reading_score"].sum() / grouped_schools_gby["Student ID"].count()

schoolAvg_reading_score.head()

school_name           type
Bailey High School    District    81.033963
Cabrera High School   Charter     83.975780
Figueroa High School  District    81.158020
Ford High School      District    80.746258
Griffin High School   Charter     83.816757
dtype: float64

In [26]:
# Since "math_score" is a number, it can be summed up per school
schoolAvg_math_score = grouped_schools_gby["math_score"].sum() / grouped_schools_gby["Student ID"].count()

schoolAvg_math_score.head()

school_name           type
Bailey High School    District    77.048432
Cabrera High School   Charter     83.061895
Figueroa High School  District    76.711767
Ford High School      District    77.102592
Griffin High School   Charter     83.351499
dtype: float64

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.